/* { outline: 1px dotted red }*/

body{
font-family: 'roboto' 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
max-width: 1450px;
margin: auto;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}
.header{
display: flex;
flex-direction: row;
justify-content: space-between;
background-color:#1F2937 ;
color: #F9FAF8;
align-items:center;


}

.righthead{
    display:flex;
    flex-direction:row;
    gap:20px;

    
}

.lefthead {
  
}
.section01 {
    color: #F9FAF8;  
    background-color:#1F2937 ;
    display: flex;
    justify-content: center;
    gap:30px;
    
}
.sea01{
    width: 400px;
}

.signup{
    width:70px;
}
.left01{
    display: flex;
    flex-direction:column;
    justify-content:center;
    
}
.title{
    font-size: 48px;
    font-weight: bolder;
}
.text01{
    max-width: 400px;
    font-size: 18px;
    color:#E5E7EB;
}

.content02 {
    display:flex;
    justify-content: center;
    gap:52px;
    text-align: center;
}
.title02{
    text-align: center;
    font-size: 36px;
    color:#1f2937;
    font-weight:bolder;
}
.text02{
    max-width: 150px;
}
.sea{
    width: 150px;
    height:150px;
    border-radius: 25px;
    border-width: 5px;
    border-color: #8db6f8;
    border-style: solid;
}
.section03{
    background-color:#e5e7eb ;
    
    display:flex;
    justify-content: center;
    

}
.main03{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:400px;
    width: 700px;
    
}

.quote{
 font-size: 36px;
 font-style: italic;
 
}
.author{
font-size: 20px;
font-weight: bold;
align-self: flex-end;

}

.section04{
    
    height:330px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main04{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:180px;
    background-color: #3882F6;
    width:1000px;
    height:150px;
    border-radius: 10px;
}
.left04{
    display:flex;
    flex-direction: column;
    
}
.signup04{
    
    width:70px;
    
}
.title04{
 color:#F9FAF8;
 font-size: 24px;
 font-weight: 900;
}
.content04{
    color: #E5E7EB;
    font-size: 18px;
}